.main {
  background-color: rgba(250, 251, 0, 0.38); }
  .main__form {
    padding: 20px 0px;
    max-width: 330px;
    margin: auto; }
    .main__form_header, .main__form_footer {
      text-align: center; }
    .main__form_body div {
      padding: 5px 0px; }
    .main__form_footer input {
      margin-bottom: 5px; }
  .main__iframe_gps, .main textarea, .main__w_100 {
    width: 100%; }

@media (min-width: 576px) {
  .main__form {
    max-width: 530px; }
    .main__form_body {
      display: flex;
      flex-direction: column; }
      .main__form_body label {
        display: flex; }
      .main__form_body input, .main__form_body select {
        flex: 5 1 auto;
        max-width: 400px; }
    .main__form span {
      flex: 1 1 auto; } }
