@charset "UTF-8";
/*****IMPORT******/
/****VARIABLES****/
/*OPERACIONES*/
/*MAP*/
/*crea 2 clases para colorear los botones del menu*/
.btn--red-social {
  color: #fff; }

/*crea 2 clases para colorear los botones del menu*/
.btn--sub-pagina {
  color: #859daa; }

/*extend*/
.agregando-estilo, .menu__productos p, .menu__productos h3 {
  background-color: #fcf7f7;
  text-shadow: #b0b6b6 4px 2px 4px;
  text-decoration: blink; }

/****************************************************************/
/*********  HEADER    ************/
body {
  margin: 0px;
  font-size: 62.5%;
  /*font-size por defecto es 16px*/ }

header {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: #3f4349; }
  header a {
    text-decoration: none;
    /*color: rgb(133, 157, 170);*/
    /*lo reemplaza el @each de $colores*/ }
  header a:hover {
    text-decoration: none;
    color: #c07373; }

.header__nombre_logo {
  margin: auto 3%;
  font-size: 230%; }
  .header__nombre_logo a {
    display: flex;
    text-decoration: none; }

.header__nav {
  display: flex;
  align-items: flex-end; }
  .header__nav ul {
    display: flex;
    flex-direction: row;
    font-size: 170%;
    padding: 0px 0px;
    margin: 0px; }
  .header__nav ul li {
    list-style-type: none;
    padding: 0px 10px; }

.header__compra_cuenta {
  display: flex;
  margin: auto 0%;
  font-size: 180%; }
  .header__compra_cuenta a {
    padding: 0 15px; }

.header__social {
  display: flex;
  margin: 0; }
  .header__social a {
    font-size: 230%;
    /*color: #fff;*/
    /*lo reemplaza el @each de $colores*/
    padding: 0px 8px; }
  .header__social a:hover {
    /*difiere el color con respecto a los otros hipervinculos*/
    color: #646a6a; }

/***************************************************************/
/***********    MAIN    ************/
/*GENERALES*/
main {
  margin: 10px 20px;
  padding: 0px; }

/*bloque PROMOCIONES*/
.menu__promociones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .menu__promociones .img_3 {
    flex-grow: 1;
    margin: 18px 0px;
    overflow: hidden; }
  .menu__promociones .img_3 :hover {
    transform: scale(1.2) rotate(360deg);
    /*aumenta o reduce tamaño  rota*/
    transition: 1s;
    /*velocidad en el efecto*/ }
  .menu__promociones .img_promo_1 {
    width: 100%; }
  .menu__promociones .img_promo {
    width: 47.1vw; }
  .menu__promociones .img_promo :hover {
    filter: grayscale(80%); }

/*bloque PRODUCTOS (grilla)*/
.menu__productos p {
  text-align: center;
  font-size: 290%;
  padding-top: 30px;
  font-family: "Assistant", sans-serif; }

.menu__productos p a {
  text-decoration: none;
  color: #786e6e;
  /*rgb(120, 110, 110);*/
  text-shadow: black 0px 0px 8px;
  font-family: "Oxanium", cursive; }

.menu__productos h3 {
  text-align: center;
  font-size: 400%;
  color: #917d7d;
  margin: auto;
  padding-bottom: 50px; }

.menu__productos #grilla_productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px 30px;
  align-items: stretch;
  justify-items: stretch;
  margin: 0px 120px; }

.menu__productos .grilla_hijo {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column; }

.menu__productos .producto_detalle {
  text-align: end;
  flex: 0 1 auto; }

.menu__productos .producto_foto {
  flex: 2 1 auto;
  text-align: center; }

.menu__productos .producto_foto img {
  height: 200px;
  width: 200px; }

.menu__productos .producto_detalle h4 {
  color: #bea0a0;
  /*rgb(190, 160, 160);*/
  font-size: 180%;
  text-align: center;
  margin: 2px auto; }

.menu__productos .producto_detalle p {
  color: #917d7d;
  font-size: 210%;
  font-weight: bold;
  margin: 2px auto;
  padding-top: 15px; }

/*****BLOQUE ATSAPP*****/
.menu__whatsapp img {
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 20px;
  right: 25px; }

.menu__whatsapp .whatsapp img:hover {
  transform: scale(1.3);
  transition: .5s; }

/******************************************************/
/******FOOTER******/
footer {
  /*border: 1px solid blue;*/
  margin: 10px 20px; }

/*aca comienza el codigo*/
.footer__contenedor {
  display: flex; }
  .footer__contenedor .f_parrafo1 p {
    font-size: 150%;
    margin-bottom: 0.2em; }
  .footer__contenedor .f_parrafo2 p {
    font-size: 130%;
    color: #aaa0a0;
    /*rgb(170, 160, 160);*/
    margin-top: 0px; }
  .footer__contenedor .logo {
    display: flex;
    padding-left: 120px; }
  .footer__contenedor .logo .img {
    margin: auto;
    padding: 0px 17px; }
  .footer__contenedor .logo .img .ecommerce {
    height: 65px;
    width: 65px;
    align-content: center; }
  .footer__contenedor .logo .img .sello_cace {
    height: 40px;
    width: 125px;
    align-content: center; }
  .footer__contenedor .logo .img .data_fiscal {
    height: 40px;
    width: 30px; }
