.header__contenedor{
    background-color:rgb(63, 67, 73);
}
header a{
    color: rgb(255, 204, 0) !important;
}
/*header button{
    border-color: rgb(133, 157, 170) !important;
}*/
header a:hover{
    color: #c07373 !important;
}