.main__promociones {
  display: flex;
  flex-wrap: nowrap;
  margin: 2px 0px; }
  .main__promociones div {
    width: 100%;
    flex: 1 1 auto; }

.main__img_promo:hover {
  transform: rotate(360deg);
  transition: 1s; }

/*grid productos*/
.main__grid_header p {
  color: #3f4349; }

.main__grid_productos > div {
  max-width: 250px; }

.main__grid_productos div div + div {
  border: solid 1px #dcdbdb;
  margin-bottom: 10px; }

.main__grid_footer a {
  text-decoration: none;
  color: #3f4349; }

/*api whatsapp*/
.main__whatsapp img {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1; }
  .main__whatsapp img:hover {
    transform: scale(1.3);
    transition: .5s; }
