/*bloque PROMOCIONES*/
.promociones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
    .promociones .hijo_3{
        flex-grow: 1;
        margin: 18px 0px;
        overflow: hidden;
    }
    .promociones .hijo_3 :hover{
        transform: scale(1.2) rotate(360deg);/*aumenta o reduce tamaño  rota*/
        transition: 1s;/*velocidad en el efecto*/
    }
    .img_promo{
        width:; /*47.1vw*/
    }
    .img_promo :hover{
        filter: grayscale(80%);
    }
    .img_promo_1{
        width: 100%;
    }


/*bloque PRODUCTOS (grilla)*/
.grid_productos > div{
    max-width: 250px;
}
.grid_productos div div + div{
    border: solid 1px rgba(221, 219, 219, 0.8); /*gainsboro*/
    margin-bottom: 10px;
}
.grid_footer p a{
    text-decoration: none;
    color: rgb(117, 110, 110);
    text-shadow: black 0px 0px 8px;
}
.grid_header p{
    color: rgb(146, 126, 126);
}

    /*************HATSAPP********/
.whatsapp img{
width: 90px;
height: 90px;
position: fixed;
bottom: 50px;
right: 50px;
z-index: +1;
}  
.whatsapp img:hover{
transform: scale(1.3);
transition: .5s;
}