/*GENERALES*/
menu{
    margin: 10px 20px;
    padding: 0px;
}




/*bloque PROMOCIONES*/
    .promociones{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
        .promociones .hijo_3{
            flex-grow: 1;
            margin: 18px 0px;
            overflow: hidden;
        }
        .promociones .hijo_3 :hover{
            transform: scale(1.2) rotate(360deg);/*aumenta o reduce tamaño  rota*/
            transition: 1s;/*velocidad en el efecto*/
        }
        .img_promo{
            width: 47.1vw;
        }
        .img_promo :hover{
            filter: grayscale(80%);
        }
        .img_promo_1{
            width: 100%;
        }










/*bloque PRODUCTOS (grilla)*/
    menu p{
        text-align: center;
        font-size: 290%;
        padding-top: 30px;
    }
    menu p a{
        text-decoration: none;
        color: rgb(117, 110, 110);
        text-shadow: black 0px 0px 8px;
        /*background-color: rgb(202, 198, 219);*/
    }
    .productos h3{
        text-align: center;
        font-size: 400%;
        color: rgb(146, 126, 126);
        margin: auto;
        padding-bottom: 50px;
    }
        #grilla_productos{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(3,1fr);
            gap: 30px 30px;
            align-items: stretch;
            justify-items: stretch;
            margin: 0px 120px;
        }
            .grilla_hijo{
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
            }
            .producto_detalle{
                text-align: end;
                flex: 0 1 auto;
            }
            .producto_foto{
                flex: 2 1 auto;
                text-align: center;
            }
                .producto_foto img{
                    height:200px;
                    width: 200px;
                }
                        .producto_detalle h4{
                            color: rgb(189, 159, 159);
                            font-size: 180%;
                            text-align: center;
                            margin: 2px auto;
                        }
                        .producto_detalle p{
                            color: rgb(146, 126, 126);
                            font-size: 210%;
                            font-weight: bold;
                            margin: 2px auto;
                            padding-top: 15px;
                        }







        /*************HATSAPP********/
.whatsapp img{
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 20px;
    right: 25px;
}  
.whatsapp img:hover{
    transform: scale(1.3);
    transition: .5s;
}