.container_data{
    background-color: grey;
    color: white;
}
a{
    text-decoration-style: none;
    color: white;
}

/*MEDIAS*/
@media (max-width: 575px){
    .img_logo{
        height: 150px;
        width: 186px;
        padding: 10px 0px;
    }
}
@media (min-width: 576px){
    .img_logo{
        max-height: 250px;
    }
}
