$girasol:rgb(255, 204, 0);
$steelGrey: rgb(63, 67, 73); //bg del header
$gainsboro: #dcdbdb; //borde de los productos
$contessa: #c07373; //hover para hipervinculo del header
$yellowCream: rgba(250,251,0,0.38); //fondo pagina contactanos
$whiteSmoke:  #f2f2f2; //bg subtitulo
$citrus: #8FCA00;
$whisper: #EEEEEE;
$silver: #C6C5C5;
