/*****IMPORT******/
@import "tipografia";

/****VARIABLES****/
$color-gris:rgb(145, 125, 125);
$sombreado: black 0px 0px 8px;

/*OPERACIONES*/
$fs: 100%;

/*MAP*/
$colores: (
    red-social: #fff,
    sub-pagina:rgb(133, 157, 170),

);
@each $nom-color, $color in $colores { /*crea 2 clases para colorear los botones del menu*/
    .btn--#{$nom-color} {
        color: $color;
    }
    
}

/*extend*/
.agregando-estilo{
    background-color:rgb(252, 247, 247);
    text-shadow: rgb(176, 182, 182) 4px 2px 4px;
    text-decoration: blink;
}


/****************************************************************/
        /*********  HEADER    ************/
body{
    margin: 0px;
    font-size: 62.5%;/*font-size por defecto es 16px*/
}
header {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 20px;
    padding-bottom: 5px;
    background-color:rgb(63, 67, 73);
    a{
        text-decoration: none;
        /*color: rgb(133, 157, 170);*/ /*lo reemplaza el @each de $colores*/
    }
    a:hover{
        text-decoration: none;
        color: #c07373;
    }
}
.header__nombre_logo{
    margin: auto 3%;
    font-size: 230%;
    a{
        display: flex;
        text-decoration: none;
    }
}
.header__nav{
    display: flex;
    align-items: flex-end;
    ul{
        display: flex;
        flex-direction: row;
        font-size: 170%;
        padding: 0px 0px;
        margin: 0px;  
    }
    ul li{
        list-style-type: none;
        padding: 0px 10px;
    }
}
.header__compra_cuenta{
    display: flex;
    margin: auto 0%;
    font-size: 180%;
    a{
        padding: 0 15px;
    }
}
.header__social{
    display: flex;
    margin: 0;
    a{
        font-size: 230%;
        /*color: #fff;*/ /*lo reemplaza el @each de $colores*/
        padding: 0px 8px;
    }
    a:hover{   /*difiere el color con respecto a los otros hipervinculos*/
        color: rgb(100, 106, 106);
    }
} 




/***************************************************************/
        /***********    MAIN    ************/
/*GENERALES*/
main{
    margin: 10px 20px;
    padding: 0px;
}
/*bloque PROMOCIONES*/
.menu__promociones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
        .img_3{
            flex-grow: 1;
            margin: 18px 0px;
            overflow: hidden;
        }
        .img_3 :hover{
            transform: scale(1.2) rotate(360deg);/*aumenta o reduce tamaño  rota*/
            transition: 1s;/*velocidad en el efecto*/
        }
        .img_promo_1{
            width: 100%;
        }
        .img_promo{
            width: 47.1vw;
        }
        .img_promo :hover{
            filter: grayscale(80%);
        }
}
/*bloque PRODUCTOS (grilla)*/
.menu__productos{
    p{
        text-align: center;
        font-size: $fs + 190%;
        padding-top: 30px;
        font-family: $font-assistant;
        @extend .agregando-estilo;
    }
    p a{
        text-decoration: none;
        color: $color-gris - rgb(25,15,15);/*rgb(120, 110, 110);*/
        text-shadow: $sombreado;
        font-family: $font-oxanium;
    }
    h3{
        text-align: center;
        font-size: $fs + 300%;
        color: $color-gris;
        margin: auto;
        padding-bottom: 50px;
        @extend .agregando-estilo;
    }
    #grilla_productos{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 30px 30px;
        align-items: stretch;
        justify-items: stretch;
        margin: 0px 120px;
    }
    .grilla_hijo{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .producto_detalle{
        text-align: end;
        flex: 0 1 auto;
    }
    .producto_foto{
        flex: 2 1 auto;
        text-align: center;
    }
    .producto_foto img{
        height:200px;
        width: 200px;
    }
    .producto_detalle h4{
        color: $color-gris + rgb(45,35,35);/*rgb(190, 160, 160);*/
        font-size: $fs + 80%;
        text-align: center;
        margin: 2px auto;
    }
    .producto_detalle p{
         color: $color-gris;
        font-size: $fs + 110%;
        font-weight: bold;
        margin: 2px auto;
        padding-top: 15px;
    }
} 
           /*****BLOQUE ATSAPP*****/
.menu__whatsapp {
    img{
        width: 70px;
        height: 70px;
        position: fixed;
        bottom: 20px;
        right: 25px;
    }
    .whatsapp img:hover{
        transform: scale(1.3);
        transition: .5s;
    }
}  


/******************************************************/
        /******FOOTER******/
footer {
    /*border: 1px solid blue;*/
    margin: 10px 20px;
}
/*aca comienza el codigo*/
.footer__contenedor{
    display: flex;
    .f_parrafo1 p{
        font-size: $fs + 50%;
        margin-bottom: 0.2em;
    }
    .f_parrafo2 p{
        font-size: $fs + 30%;
        color:$color-gris + rgb(25,35,35);/*rgb(170, 160, 160);*/
        margin-top: 0px;
    }
    .logo{
        display: flex;
        padding-left: 120px;
    }
    .logo .img{
        margin: auto;
        padding: 0px 17px;
    }
    .logo .img .ecommerce{
        height: 65px;
        width: 65px;
        align-content: center;
    }
    .logo .img .sello_cace{
        height: 40px;
        width: 125px;
        align-content: center;
    }
    .logo .img .data_fiscal{
        height: 40px;
        width: 30px;
    }
}
    
    

